.toc-wrapper {
  max-width: 90%; //800px
  margin: 0 auto;
  h1 {
    padding: 10px 0 0;
  }
  p.subtitle {
    text-align: center;
  }
  .toc-card {
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: white;
    padding: 15px;

    .title {
      font-size: 20px;
      // padding: 15px 30px;
    }

    .content {
      padding: 0 15px;
      line-height: 1.5;
    }
  }
}
