$min-width: 15rem;

// 1. Add horizontal and vertical spacing between items.
// 2. Add vertical spacing between rows.
// 3. Make the order of image / text alternate.
// 4. Take all the available space.
// 5. Require at least this amount of space or wrap.
// 6. Prevent images from sticking to the right in single column mode.
// 7. (Try to) take as much space as the content needs.
.alternating {
  section.box {
    display: flex;
    flex-wrap: wrap;
    margin-top: -1em;
    align-items: flex-start;
    padding-top: 1em; // 1

    &:not(:first-of-type) {
      margin-top: 3em; // 2
    }

    &:nth-child(even) {
      flex-direction: row-reverse; // 3
      > .text{
        margin-left: 20px;
      }
    }

    > .text {
      flex-grow: 9999; // 4
      flex-basis: $min-width; // 5
      text-align:left;
      margin-right: 20px;

      h2 {
        font-size: 2em;
        line-height: 1.2;
        margin: 0;
      }


      > div.scrollable{
        max-height: 300px;
        overflow-y: scroll;
        box-shadow: inset 0px 0px 2px rgb(150 150 150);
        padding: 5px;
      }

    }

    > .figure {
      margin-right: auto; // 6
      flex-grow: 1; // 7

      // By using `max-content` we can get a little
      // nicer responsive behavior because the image
      // automatically shrinks if not enough space is
      // available, but also the column is not getting
      // to large than the image if a lot of space
      // is available.
      @supports ((max-width: -webkit-max-content) or (max-width: -moz-max-content) or (max-width: max-content)) {
        min-width: $min-width; // 5
        max-width: -webkit-max-content;
        max-width: -moz-max-content;
        max-width: -webkit-max-content;
        max-width: -moz-max-content;
        max-width: max-content;
        flex-basis: $min-width; // 5
        flex-grow: 99999;
      }

      img {
        max-width: 100%;
        max-height: 350px;
        width: auto;
        height: auto;
        vertical-align: middle;
      }

    }
  }

  form { 
      max-width:420px; 
      margin:50px auto;
      
      input, textarea {
        font-family: Helvetica, Arial, sans-serif;
        font-weight:500;
        font-size: 18px;
        border-radius: 5px;
        line-height: 22px;
        background-color: transparent;
        border:2px solid #CC6666;
        transition: all 0.3s;
        padding: 13px;
        margin-bottom: 15px;
        width:100%;
        box-sizing: border-box;
        outline:0;
      }

      input:focus, textarea:focus { border:2px solid #CC4949; }

      textarea {
        height: 150px;
        line-height: 150%;
        resize:vertical;
      }

      [type="submit"],[type="button"] {
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        width: 100%;
        background:#CC6666;
        border-radius:5px;
        border:0;
        cursor:pointer;
        font-size:24px;
        padding-top:10px;
        padding-bottom:10px;
        transition: all 0.3s;
        margin-top:-4px;
        font-weight:700;
      }
      [type="submit"],[type="button"]:hover { background:#CC4949; }
    }
}

// MISC
// body {
//   max-width: 64em;
//   margin-right: auto;
//   margin-left: auto;
//   padding: 3em 1em;
//   line-height: 1.5em;
//   font-family: sans-serif;
// }


// .layout {
//   &__item {
//     * + * {
//       margin-top: 1em;
//     }
//   }
// }
