{
  "plugins": ["@babel/plugin-transform-runtime"],
  "env": {
    "test": {
      "presets": [
        "@babel/preset-react",
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": 8
            }
          }
        ]
      ]
    }
  }
}
