@use 'src/globals/styles/mixins';

/*
    Responsive breakpoints
*/
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;



/*
  screen edge spacing
*/ 

$min-hz-padding: 10px;



$toolbar-height: 46px;
$sidebar-width: 275px;
$sidebar-height: calc(100% - $toolbar-height);
$content-max-width: 80%;
$content-width: calc($content-max-width - $sidebar-width);
$content-margin: 10%;
$content-left-margin: calc($sidebar-width + $content-margin);