.blog-section {
  width: 380px;
  height: 380px;
  margin: 10px;
  display: inline-block;
  background-size: cover;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
  overflow: hidden;
  font-family: 'Roboto';
  text-decoration: none;

  &:hover {
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64);
    transform: scale(1.05);
  }

  &:hover img {
    opacity: 0.2;
  }

   img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: all 0.4s ease-out;
  }
   .text {
    position: absolute;
    padding: 30px;
    height: calc(100% - 60px);
  }
   h1 {
    font-weight: 300;
    margin: 0;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  }
   h2 {
    font-weight: 100;
    margin: 20px 0 0 0;
    font-style: italic;
    transform: translateX(200px);
  }
   p {
    font-weight: 300;
    margin: 20px 0 0 0;
    line-height: 25px;
    /*   opacity:0; */
    transform: translateX(-200px);
    transition-delay: 0.2s;
  }

  &:hover .animate-text {
    transform: translateX(0);
    opacity: 1;
  }

  .animate-text {
    opacity: 0;
    transition: all 0.6s ease-in-out;
  }


}