section.question-analysis{
  padding: 3em 0;

  header{
    display: flex;
    align-items: center;

    h3{
      margin: 0 0 0 .5em;
      text-decoration: underline;
    }
  }

  section{
    margin: 3em 0 3em 3.5em;

    h5{
      padding-bottom: 4px;
      position: relative;
      text-decoration: none;

      &::after {
        background: #f00;
        background: linear-gradient(to right, black 0%, gray 50%, transparent 100%);  
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 20%;
      }
    }

    > div.themes-summary{
      text.recharts-label{
        fill: white;
      }
    }

  }
}