* {
  box-sizing: border-box;
}

/* 
  Grid-Template-areas 
  https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-areas 

  Grid-template-rows
  https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-rows
  grid-template-rows: 250px 1fr 2fr; 
  
  Grid-template-columns
  https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns

  fr = fraction
    cut the remaining content into 3rds (1+2)
*/

#flex-grid-layout{
  // sizes + layout
  max-width: 100%;
  margin: 0;
  display: inline-block;
  display: grid;
  width: 100%;
  grid-template-areas: 
    "top top"
    "l r"
    "bottom bottom";
  grid-template-rows: 600px 1fr ; /*1fr*/ 
  padding: 0 25px;
  grid-column-gap: 20px;
  border: 1px solid var(--border);

  // font
  color: rgb(147,147,147);  
  line-height:1.6;
  font-size: 16px;
  
  background-color: #14181d;
  background-image: url(https://www.transparenttextures.com/patterns/black-paper.png);
  

  * {
    color: rgb(147,147,147);
  }
  
  #title-box{
    max-height: 150px;
  }

  #area-box{
    height: 100px;
  }

  #area-explain-box{
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-height: 75px;
  }

  #theme-box{
    max-height: 350px;
    border-left: var(--border);
    border-right: var(--border);
  }

  #focus-area-box{
    min-height: 345px;
    border-bottom: var(--border);

    #focus-area-hover{
      max-height: 200px;
      min-height: 190px;
    }
  }

  #words-of-interest-box{
    max-height: 385px;
    padding: 15px 0;
  }

  // #focus-area-box{
  //   max-height: 315px;
  //   border-bottom: var(--border)
  // }

  #words-by-length-box{
    max-height: 275px;
    flex: 1;
    padding-top: 35px;
    border-left: var(--border);

    > .explanatory-text{
      padding: 0 30px 10px 30px;
      -o-border-image: var(--bottom-narrow);
        border-image: var(--bottom-narrow);
      border-width: 1px;
      border-style: solid;
    }
  }

  div#text-display-box p.text-content{
    line-height: 2.3;
    -moz-columns: 2;
        columns: 2;
    -moz-column-rule: 1px solid rgb(130, 130, 130);
        column-rule: 1px solid rgb(130, 130, 130);
    -moz-column-gap: 20px;
        column-gap: 20px;
    overflow-x: scroll;
    max-height: 480px;
  }

}

/*TOP SECTION?! 
  magic, like css var(--varHere) from "top top"
  from the grid-template-areas above
*/
header{
  grid-area: top;
  border-bottom: var(--border);
}

#left-side{
	grid-area: l;
}

#left-side > div .section-text, 
#right-side > div .section-text{
	transition: all 350ms;
}

#left-side > div .interaction-note, 
#right-side > div .interaction-note{
	transition: all 350ms;
}

#left-side > div:hover .section-text, 
#right-side > div:hover .section-text,
#left-side > div:hover .interaction-note, 
#right-side > div:hover .interaction-note{
	font-weight: 800;
	color: rgb(215,215,215);
}

#right-side > div:hover #image-box .section-text{
	text-shadow: none;
}

#right-side{
	grid-area: r;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

footer{
  grid-area: bottom;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.face-image{
  max-height: 100%;
  max-width: 100%;
}


ul.title-data{
	text-align: center;
  border-top: var(--border);
	border-bottom: var(--border);
}

h1.title{
	text-align: center;
	font-size: 36px;
}


li.sub-title{
  margin: 7px 25px;
  font-size: .8em;
  text-transform: uppercase;
  display: inline-block;
}

/*
	Interesting style-choice, not what i thought but nice && grow-able
*/
li.sub-title:nth-child(even){
	border: var(--border);
	border-width: 0 2px;
	padding: 0 25px;
	margin: 0;
}

.title-text-wrapper {
	display: flex;
	flex-direction: row;
}

.title-text-wrapper > h1{
  width: calc(100% - 291px);
  margin: 10px 0;
  padding-left: 210px;
}

.corner-box{
  border: 1px solid rgb(100,100,100);
  /*position: absolute;*/
  top: 8px;
  right: 25px;
  width: 380px;
  font-size: .75em;
  text-align: center;
  padding: 6px;
  margin: auto;
  max-height: 60px;
  p {
    margin: 0;
  }
}

.selectable-area-explain{
  padding: 7px;
  font-family: sans-serif;
  font-size: .76em;
  border-bottom: var(--border);
  margin-bottom: 20px;
}

#flex-grid-layout #image-box{
  width: 60%;
  display: inline-block;
  max-height: 290px;
  -o-border-image: var(--bottom-mid);
     border-image: var(--bottom-mid);
  max-height: 350px;
  padding: 0 25px 15px 25px
}

.image-sub{
  font-size: 1em;
  width: 100%;
  text-align: center;
}

/* 
  Grid-Template-areas 
  https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-areas 

  Grid-template-rows
  https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-rows
  grid-template-rows: 250px 1fr 2fr; 
  
  Grid-template-columns
  https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns

  fr = fraction
    cut the remaining content into 3rds (1+2)
*/

/*TOP SECTION?! 
  like css var(--varHere) 
    from "top top"
    from the grid-template-areas above
*/
header{
  grid-area: top;
}

#left-side, #right-side{
  margin-top: 10px;
}

#left-side{
  grid-area: l;
}

#right-side{
  grid-area: r;
  display: flex;
  /*row*/
  flex-direction: column;
  flex-wrap: wrap;
}

footer{
  grid-area: bottom;
  margin-top: 25px;
}

.face-image{
  max-height: 100%;
  max-width: 100%;
}

.section-text:hover{
  text-shadow: rgba(0,0,0,.5) 0 8px 3px;
  transition: all 500ms;
}
#words-of-interest-box > .section-text{
  margin-bottom: 8px;
}

#flex-grid-layout div#text-display-box p.text-content{
  line-height: 2.3;
  -moz-columns: 2;
       columns: 2;
  -moz-column-rule: 1px solid rgb(130, 130, 130);
       column-rule: 1px solid rgb(130, 130, 130);
  -moz-column-gap: 20px;
       column-gap: 20px;
  overflow-x: scroll;
  max-height: 480px;
}

.image-subtext, .section-text{
  text-transform: uppercase;
  font-size: 1.6em;
  text-align: center;
  width: 100%;
  margin: 0;
}



.image-subtext{
  position: absolute;
  bottom: 0;
}

.explanatory-text{
  font-size: .85em;
  margin-bottom: 0;
}

#divider-box {
  /* border-top:  var(--border); */
  border-bottom:  var(--border);
  line-height: 2;
  text-align: center;
  /* margin: 10px 0; */
}

.circle-label{
  fill: rgb(147,147,147);
  text-anchor: middle;
  font-size: 12px;
  alignment-baseline: middle;
}

#circlesBox-forUI{
  height: 80%;
  width: 100%;  
}


@media only screen and (max-width: 800px){
  .title-text-wrapper > h1{
    font-size: 24px;
    width: auto;
    padding-left: 30px;
  }

  .corner-box{
    width: 375px;
    position: absolute;
    margin: 0;
  }

  li.sub-title{
    font-size: .5em;
    margin: 0 20px;
  }

  .image-subtext, .section-text{
    font-size: 1.25em;
  }

  #left-side, #right-side{
    margin-top: 0;
  }

  .flex-row{
    margin-top: 10px;
  }

  #flex-grid-layout #image-box{
    padding-top: 5px;
  }
}