apiVersion: v1
kind: Pod
metadata:
  name: pg-pod
  labels:
    name: pg-pod
    app: demo-voting-app
spec:
  containers:
    - name: pg-box
      image: postgres
      ports:
        # default
        - containerPort: 5432
      # hard-coded for p.o.c here
      # these are hard-coded in other pod code
      env:
        - name: POSTGRES_USER
          value: "postgres"
        - name: POSTGRES_PASSWORD
          value: "postgres"