* {
  box-sizing: border-box;
  margin: 0;
}

// * + * {
//   margin-top: 1rem;
// }

html,
body {
  margin: 0;
  color: #222;
  font-family: sans-serif;
  line-height: 1.4;
  background-color: #fff;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  line-height: 1.1;
  margin: 2rem 0;
  font-size: 1.5rem;

  + * {
    margin-top: 0.5rem;
  }
}

strong {
  color: #222;
}

li {
  margin-top: 0.25rem;
}
