.legend-item{
  cursor: pointer;
}

.legend-item circle:hover, .legend-item text:hover{
  text-decoration: underline;
}

.legend-item text{
  font-size: .4em;
  fill: #635F5D;
  font-family: sans-serif;
}