.post-preview {
  border-bottom: 1px solid #ddd;
  display: flex;
  margin-top: 0;
  padding-bottom: 1rem;

  :first-of-type {
    margin-top: 1rem;
  }

  .image {
    margin: 1rem 1rem 0 0;
    width: 100px;
  }
}
