.card {
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 12%);
  border-radius: 4px;
  margin: 0 10px;

  &.section {
    width: 350px;

    h3, h4 {
      font-size: 16px;
      margin: 5px 0;
    }

    p {
      font-size: 12px;
    }
  }

  .text-section{
    h3, h4{
      margin: 5px 0;
    }
  }
}
