main#chart-page{
  $min-width: 15rem;

  > .alternating {
    margin: 0 auto;
    max-width: 800px;
    li {
      display: flex;
      flex-wrap: wrap;
      margin: 2em 0;
      margin-left: -3.5em; // 1
      align-items: center;

      .image-overlay{
        margin-left: 1em;
        max-width: 40%;
      }

      h1{
        text-align: left;
      }

      .full-size-img {
        width: 250px;
        height: 250px;
      }

      &:nth-child(even) {
        flex-direction: row-reverse; // 3

        h1{
          text-align: right;
        }

        .image-overlay {
          margin-right: 1em;
        }

      }

      &__item {
        padding-top: 1em; // 1
        padding-left: 3.5em; // 1

        &--body {
          flex-grow: 9999; // 4
          flex-basis: $min-width; // 5
        }

        &--figure {
          margin-right: auto; // 6
          flex-grow: 1; // 7

          // By using `max-content` we can get a little
          // nicer responsive behavior because the image
          // automatically shrinks if not enough space is
          // available, but also the column is not getting
          // to large than the image if a lot of space
          // is available.
          @supports (
            ((max-width: -webkit-max-content) or (max-width: -moz-max-content) or (max-width: max-content))
          ) {
            min-width: $min-width; // 5
            max-width: -webkit-max-content;
            max-width: -moz-max-content;
            max-width: max-content;
            flex-basis: $min-width; // 5
            flex-grow: 99999;
          }
        }
      }
    }
  }
}