* {
  box-sizing: border-box;
}

/* Grid measurements:
 *
    TOTAL WIDTH
 *   960px wide 
      including 12 gutters (half gutters on both edges)
 *
    GUTTERS
    *   20px gutters (two half-gutters + 11 full gutters, so 12 total)

    COLUMNS
 *   60px columns (12)
 
 *
 *   For smaller screens, we always want 20px of padding on either side,
 *   so 960 + 20 + 20 => 1000px
 *
 **/
.row {
  /*max-width: 1000px;*/
  /*padding-left: 20px;*/
  /*padding-right: 20px;*/
  width: 90%;
  padding: 0 5%;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-2,
.col-2-3,
.col-3,
.col-3-4,
.col-4,
.col-6,
.col-12 {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * PREVIOUS Half a gutter is 10px, 10/960 (context) = 1.041666%
   * CURRENT Half a gutter is 20px, 10/960 (context) = 2.083333%
   *
   */
  /*padding-left: 1.04166666%;*/
  /*padding-right: 1.04166666%;*/
  padding-left: 2.083333%;
  padding-right: 2.083333%;
}

/* Mobile defaults */
.col-2,
.col-2-3,
.col-3,
.col-3-4,
.col-4,
.col-6,
.col-12 {
  width: 100%;
}

@media only screen and (min-width: 450px) {
  .col-2-3,
  .col-3-4 {
    width: 50%;
  }

  .col-3-4 {
    width: 50%;
  }
}

/* Non-mobile, grid */
@media only screen and (min-width: 800px) {
  /* 2 columns, 2/12 in % */
  .col-2 {
    width: 16.666667%;
  }

  /* 3 columns, 3/12 in % */
  .col-3,
  .col-2-3 {
    width: 25%;
  }

  /* 4 columns, 4/12 in % */
  .col-3-4,
  .col-4 {
    width: 33.333333%;
  }

  /* 6 columns, 6/12 in % */
  .col-6 {
    width: 50%;
  }

  /* 12 columns, 12/12 in % */
  .col-12 {
    width: 100%;
  }
}

/*:root{
  --baby-blue: rgb(87,185,221);
};*/

body {
  margin: 0;
}

main.folio {
  display: inline-block;
  /*width: 90%;*/
  margin: unset;
  max-width: unset;
  width: 100%;
  background-color: rgb(15, 31, 50);
}

#projects-wrapper {
  padding: 0 5%;
}

h1 {
  font-size: 2em;
  margin: 0;
  padding: 0.67em 0;
  text-align: center;
}

/*
  NAV
*/
* {
  font-family: sans-serif;
}
nav.folio-nav {
  background: black;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 10;
  height: 45px;
  line-height: 45px;
}
nav ul {
  margin: 0;
  padding: 0;
  display: block;
}
nav ul a {
  color: white;
}
nav ul li {
  margin: 0 auto;
  list-style-type: none;
  display: inline-block;
  width: 32%;
  text-align: center;
  line-height: 45px;
}

/*Nav buttons*/
.navButton {
  color: white;
  background-color: transparent;
  border: none;
}

.box {
  text-align: center;
  margin-bottom: 20px;
}

div.box {
  background-size: cover;
  display: block;
  border-radius: 0 0 25px 25px;
  height: 305px;
  text-decoration: none;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
}

div.box img {
  max-width: 100%;
  margin-bottom: -3px;
  border-radius: 0 0 25px 25px;
}

.col-4 div a {
  max-width: 100%;
}

section.welcome {
  color: white;
  background-image: url('./../../images/imgs/page/welcome.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: cover;
  height: 530px;
  position: relative;
  margin-bottom: 50px;
}

section.welcome * {
  max-width: unset;
}

.text-box {
  position: absolute;
  top: 15px;
  padding: 15px;
  color: black;
}

.intro-text {
  line-height: 1.25;
}

.intro-text b {
  font-size: 2.5em;
}

.intro-text i {
  font-style: italic;
  font-size: 0.85em;
}

.tech-list-box {
  padding: 10px 15px;
  margin: 60px 0 0 0;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.tech-list {
  color: black;
  color: lightgrey;
  font-size: 14px;
  margin: 5px 0 0 0;
  word-spacing: 3px;
  line-height: 1.2;
  padding: 0;
}

.tech-li {
  display: inline-block;
}

.tech-li i {
  font-style: italic;
}

.tech-li.title {
  text-decoration: underline;
}

.tech-li::after {
  content: ' | ';
}

.tech-li:last-child::after {
  content: '';
}

.tech-li.title::after {
  content: '';
}

/*
  Box bg images
*/

div.node-cert-bg {
  background-image: url('./../../images/imgs/node-cert.png');
  background-size: contain;
}

div.psmi-bg {
  background-image: url('./../../images/imgs/psm.png');
  background-size: contain;
}

.mastering-bg {
  background: center / auto no-repeat url('./../../images/imgs/d3Course.gif');
}
.slice-n-dice-bg {
  background: center / auto no-repeat url('./../../images/imgs/slice.gif');
}
.pizza-bg {
  background: center / auto no-repeat url('./../../images/imgs/nodeServer.jpg');
}
.say-what-bg {
  background: center / auto no-repeat url('./../../images/imgs/say-what/1.jpg');
}
.world-map-bg {
  background: center / auto no-repeat url('./../../images/imgs/worldmap.gif');
}
.rhode-island-bg {
  background: center / auto no-repeat url('./../../images/imgs/ristats/1.jpg');
}
.housing-permits-bg {
  background: center / auto no-repeat url('./../../images/imgs/cttowns.gif');
}
.erp-bg {
  background: center / auto no-repeat url('./../../images/imgs/erp/1.jpg');
}
.macro-recipes-bg {
  background: center / auto no-repeat url('./../../images/imgs/macro/1.jpg');
}
.my-miles-bg {
  background: center / auto no-repeat url('./../../images/imgs/miles/1.jpg');
}

.caption {
  text-align: left;
  color: white;
  padding: 20px 5px 5px 5px;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.2em;
  position: relative;
}

.sub-text {
  font-size: 0.7em;
}

p.overlay-text {
  opacity: 0;
  color: white;
}

div.box:hover p.overlay-text {
  opacity: 1;
}

.box .caption a {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 10px;
}

.box .caption a.open {
  background: rgba(0, 0, 0, 0) url('./../../images/imgs/open.png') center / 35px
    35px;
}

.box .caption a.git {
  background: rgba(0, 0, 0, 0) url('./../../images/imgs/github.png') center /
    35px 35px;
}

/* Non-mobile, 'responsive' styles */

@media only screen and (min-width: 440px) {
  section.welcome {
    height: 500px;
  }

  .tech-list-box {
    padding: 10px 15px;
    margin: 5px 0 0 0;
    background-color: unset;
  }

  .text-box {
    position: absolute;
    bottom: 15px;
    margin-top: 300px;
    padding: 15px;
    color: white;
  }

  section.projectImgWrapper {
    background-size: cover;
    background-position: unset;
  }
}

@media only screen and (min-width: 640px) {
  nav {
    top: 0;
    bottom: auto;
  }
  h2 {
    margin-bottom: 40px;
  }
  section p,
  section h1,
  section div,
  section ul {
    // max-width: 1100px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
  .contactTextWrapper {
    display: inline-block;
  }
  .introText {
    margin-top: 150px;
    position: relative;
  }
  section.welcome {
    height: 600px;
  }
  h1.welcome {
    font-size: 2em;
    display: inline-block;
    width: 100%;
    margin: 50px auto 0 auto;
  }
  .project {
    overflow: hidden;
    padding-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
  }
  .project section {
    float: left;
    width: 50%;
    vertical-align: top;
  }
  .project:nth-child(odd) .projectImgWrapper {
    float: right;
  }
  .projectImgWrapper {
    height: 100%;
  }
  .projectImg {
    max-width: 600px;
    max-height: 600px;
    height: auto;
    width: auto;
  }
  .projectTextWrapper {
    margin-top: 0px;
  }
  .projectTextWrapper p {
    text-align: left;
  }
  .techWrapper {
    margin-top: 70%;
    background-color: inherit;
    padding-top: 10px;
    width: calc(100% + 20px);
    margin-left: -10px;
  }
  .modalButton.left,
  .modalButton.right {
    width: 90px;
  }
  .modalImage {
    padding: 0 275px;
    vertical-align: middle;
  }
  .techImg {
    margin: 0 30px;
  }
  .image {
    height: 100%;
  }
  .siteLink {
    margin-top: 20px;
  }
  .stackWrapper {
    width: 80%;
    padding: 20px 0;
  }
  #projects section {
    padding-bottom: 0;
    min-height: 100px;
  }

  .tech-list {
    width: 46%;
    display: inline-block;
  }

  .tech-list:nth-child(even) {
    margin-left: 7%;
  }

  section div.caption p {
    padding: 0 2%;
    font-size: 0.9em;
    line-height: 1.2;
  }
}

@media only screen and (min-width: 880px) {
  .stackWrapper {
    width: 45%;
    display: inline-block;
    margin: 50px 20px;
  }

  .caption {
    padding: 20px 10px 21px 10px;
  }

  .sub-text {
    font-size: 1.2em;
    line-height: 1.2;
  }
}

/*
  BROKEN slow-zooming bg
*/
/*div.hover-v2 > a:hover{
  background-size: 200%;
  transition: background-size 13s ease-in;
  -moz-transition: background-size 13s ease-in;
  -ms-transition: background-size 13s ease-in;
  -o-transition: background-size 13s ease-in;
  -webkit-transition: background-size 13s ease-in;
}*/

.hover-v2 .box .caption {
  border-radius: 0 0 23px 23px;
  height: 100%;
}

.hover-v2 .box .caption {
  background-color: rgba(0, 0, 0, 0.8);
}

.hover-v2 .caption > * {
  opacity: 1;
}

.box .caption p:nth-child(1) {
  opacity: 1;
}

.box .caption > * {
  opacity: 1;
}

.hover-v2 .caption p,
.hover-v2 .caption hr,
.hover-v2 .caption ul {
  opacity: 0;
}

.caption p:nth-child(1) i {
  font-size: 0.7em;
}

.hover-v2 .caption p:nth-child(1) {
  margin-top: 0;
  color: rgb(87, 185, 221);
  font-size: 1.1em;
}

hr {
  color: rgb(87, 185, 221);
  border: 2px solid rgb(87, 185, 221);
}

/*HR*/
.box .caption hr {
  opacity: 1;
  width: 75%;
  transition-delay: 0.1s;
}

/*sub-text*/
.box .caption p.sub-text {
  opacity: 1;
}

/*
  Card Tech-list
*/
div.caption ul {
  margin: 0 0 0 2.5%;
  padding: 0;
  position: absolute;
  width: 90%;
  bottom: 10px;
}

.box .caption ul {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.2s;
}

div.caption li {
  list-style-type: none;
  font-size: 12px;
  color: rgb(190, 190, 190);
  display: inline;
}

div.caption li::after {
  content: ' | ';
}

div.caption li:last-child::after {
  content: '';
}

/*
    Hover interaction @ bigger screens
*/

@media only screen and (min-width: 640px) {
  /* caption */
  .hover-v2 .box .caption {
    background-color: unset;
  }
  .hover-v2 .box:hover .caption {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* title */
  .hover-v2 .caption p:nth-child(1) {
    transition: transform 0.3s, opacity 0.3s;
    transform: translateY(-10px);
    opacity: 0;
  }

  /* title hover */
  .box:hover .caption p:nth-child(1) {
    opacity: 1;
    transform: translateY(0);
  }

  /* header row */
  .hover-v2 .caption hr {
    opacity: 0;
    width: 0%;
    margin-left: 12.5%;
    transition: width 0.7s, opacity 0.2s;
  }
  /* header row hover */
  .box:hover .caption hr {
    opacity: 1;
    width: 75%;
  }

  /* sub-text */
  .box .caption p.sub-text {
    transition: transform 0.6s, opacity 0.6s;
    opacity: 0;
    transform: translateY(15px);
  }

  /* sub-text  hover*/
  .box:hover .caption p.sub-text {
    opacity: 1;
    transform: translateY(0);
  }

  /* tech-list */
  .box .caption ul {
    transition: opacity 0.3s, transform 0.3s;
    transition-delay: 0.2s;
    opacity: 0;
    transform: translateX(35px);
  }

  /* tech-list  hover*/
  .box:hover .caption ul {
    opacity: 1;
    transform: translateX(0);
  }

  .box .caption a {
    transition: opacity 0.2s;
    opacity: 0;
    transition-delay: 150ms;
  }

  .box:hover .caption a {
    display: inline-block;
    opacity: 1;
  }
}
