h1 {
  font-family: sans-serif;
}

section.centered {
  max-width: 1000px;
  margin: 0 auto;

  a {
    display: block;
  }
}

.flex {
  &-col {
    display: flex;
    flex-direction: column;
  }
  &-row {
    display: flex;
    flex-direction: row;
    max-width: 100%;

  }

  &-center {
    align-items: center;
    justify-content: center;
  }
}
