$margin-big: 12px;
$margin-med: 8px;
$margin-small: 5px;

.md-wrapper {
  margin: 0 auto;
  max-width: 1000px;

  h2 {
    margin: $margin-small;
  }

  h3 {
    margin: $margin-med;
  }

  h4 {
    margin: $margin-big;
  }

  p {
    margin: 0 20px;
    line-height: 1.5rem;
  }
}

.md-footer {
  width: 100%;
  padding: 5px 5%;

  #link-wrapper {
    position: relative;

    a:nth-child(2) {
      position: absolute;
      right: 0;
    }
  }
}
