@import 'src/globals/styles/vars';
/* The side navigation menu */
  .sidebar {
    margin: 0;
    padding: 0;
    width: $sidebar-width;
    background-color: #f1f1f1;
    position: fixed;
    height: $sidebar-height;
    overflow: auto;

    /* Sidebar links */
    a, span {
      display: block;
      color: black;
      padding: 16px;
      text-decoration: none;
      font-size: 14px;

      /* Active/current link */
      &.active {
        background-color: #04AA6D;
        color: white;
      }

      /* Links on mouse-over */
      &:hover:not(.active) {
        background-color: #555;
        color: white;
      }

      &[aria-current="page"]{
        background-color: #868585;
        color: white;
      }
    }

    span{ 
      // font-size: 18px;
      font-weight: bold;
      text-decoration: underline;

      &:hover:not(.active) {
        background-color: unset;
        color: black;
      }
    }
  }