table.table-wrapper {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 75%;
  font-size: .8rem;
  height: 500px;
  overflow-y: scroll;
  display: block;
  box-shadow: inset 1px 1px 10px;

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    // width: 30px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
}