section#theme-editor{
  table {
    thead {
      &> tr > th:nth-child(1){
        display: flex;
        justify-content: space-between;
        align-items: center;
        &> svg {
          cursor: pointer;
          visibility: hidden;
        }
        &:hover > svg {
          visibility: visible;
        }
      }
    }
    tbody{ 
      tr {
        // theme header cell
        th {
          div {
            svg {
              visibility: hidden;
              cursor: pointer;
            }
          }

          // theme header hover
          &:hover{
            div {
              svg {
                visibility: visible;
              }
            }
          }
        }

        .theme-pill{ 
            width: -webkit-fit-content; 
            width: -moz-fit-content; 
            width: fit-content;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 1em;
            color: black;
            border: 1px solid gray;
            transition: 200ms;
          &:hover{
            border-color: blue;
          }
        }
      }
    }
  }
}
