section#theme-editor{
  table {
    tbody{ 
      tr {
        th {
          div {
            svg {
              visibility: hidden;
              cursor: pointer;
            }
          }

          &:hover{
            div {
              svg {
                visibility: visible;
              }
            }
          }
        }
      }
    }
  }
}