$accordion-width: 600px;
$accordion-bg-color: white;
$accordion-hover-bg-color: white;
$accordion-content-bg-color: white;

.accordion {
  max-width: $accordion-width;
  margin: 2rem auto;

  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: $accordion-bg-color;
  }

  &:hover {
    background-color: $accordion-hover-bg-color;
  }

  .title,
  .content {
    padding: 1rem;
    margin: 1rem;

    // overwrite any broadly-set padding or margins
    > * {
      padding: unset;
      margin: unset;
    }
  }

  .content {
    background-color: $accordion-content-bg-color;
  }
}